@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

.bannerOne {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  .bannerOne .bannerOne_name {
    position: absolute;
    height: 200px;
    text-align: center;
    line-height: 200px;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 80px;
    font-weight: bolder;
    color: #4c4c4c; }

.bannerTwo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 100% 100%; }
  .bannerTwo .bannerTwo_name {
    position: absolute;
    height: 500px;
    text-align: center;
    line-height: 200px;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 60px;
    font-weight: bolder;
    color: #4c4c4c; }
  .bannerTwo a {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block; }
  .bannerTwo iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 80%; }
